<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="myModalLabel"><strong><%= @component.fullname %></strong></h4>
</div>
<div class="modal-body">


  <div class="row">
    <div class="form-group col-sm-12">

      <div class="row">
        <% if @component.is_folder? %>

          <div class="form-group col-sm-12">
            <p><strong><%= Component.human_attribute_name(:name_if_folder) %></strong></p>
            <%= @component.name_if_folder %>
          </div>

          <div class="form-group col-sm-12">
            <% if @component.note.html_safe.size > 0 %>
              <blockquote>
                <%= @component.note.html_safe %>
              </blockquote>
            <% end %>
          </div> 

        <% else %>

          <div class="form-group col-sm-12">
            <p><strong><%= Component.human_attribute_name(:component_file_identifier) %></strong></p>
            <%= @component.component_file_identifier %>
          </div> 
          <div class="form-group col-sm-12">
            <% if @component.note.html_safe.size > 0 %>
              <blockquote>
                <%= @component.note.html_safe %>
              </blockquote>
            <% end %>
          </div> 
          <div class="form-group col-sm-6">
            <p><strong><%= Component.human_attribute_name(:file_size) %></strong></p>
            <%= @component.file_size %>
          </div> 
          <div class="form-group col-sm-6">
            <p><strong><%= Component.human_attribute_name(:file_content_type) %></strong></p>
            <%= @component.file_content_type %>
          </div> 

          <div class="form-group col-sm-12">
            <p><strong><%= Component.human_attribute_name(:component_uuid) %></strong></p>
            <div class="input-group">
              <input id="foo" type="text" class="form-control" value='<%= @file_url_as_html %>' readonly='true'>
              <span class="input-group-btn">
                <button class="btn btn-default btn-clip" type="button" data-clipboard-target="#foo"><%= fa_icon('clipboard', text: t('helpers.links.copy_to_clipboard') ) %></button>
              </span>
            </div><!-- /input-group -->
          </div> 


<!-- Target -->
<!-- 
<input id="foo" value="https://github.com/zenorocha/clipboard.js.git">
 -->
<!-- Trigger -->
<!-- 
<button class="btn btn-primary btn-clip" type="button" data-clipboard-target="#foo">Click me</button>
 -->

        <% end %>

      </div>  <!-- /row -->

    </div> <!-- /form-group col-sm-6 -->

  </div>  <!-- /row -->


</div>
<div class="modal-footer">
  <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zamknij</button>
</div>

<script type="text/javascript">

  $(document).ready(function(){  

//    var clipboard = new ClipboardJS('.btn-clip');
    var clipboard = new ClipboardJS('.btn-clip', {
        container: document.getElementById('modal')
    });

    clipboard.on('success', function(e) {
        // console.info('Action:', e.action);
        // console.info('Text:', e.text);
        // console.info('Trigger:', e.trigger);

        toastr['info']('Copy to Clipboard');        
        e.clearSelection();
    });

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});

  });

</script>