<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center colored-title index-title"><%= user_index_legend %></h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <table id="users-table" class="hover cell-border" cellspacing="0" width="100%" 
        data-source="<%= datatables_index_users_path(format: :json) %>",
        data-locale_url="<%= datatables_lang_path(format: :json) %>">
        <thead>
          <tr>
            <th>ID</th>
            <th><%= User.human_attribute_name(:email) %></th>
            <th><%= User.human_attribute_name(:last_name) %></th>
            <th><%= User.human_attribute_name(:first_name) %></th>
            <th><%= User.human_attribute_name(:note) %></th>
            <th><%= User.human_attribute_name(:current_sign_in_ip) %></th>
            <th><%= User.human_attribute_name(:current_sign_in_at) %></th>
          </tr>
        </thead>
        <tbody>
          <!-- data from ajax -->
        </tbody>
      </table>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">
      <% if policy(:user).new? %>
        <%= link_to new_user_path, class: "btn btn-primary pull-right" do %>
          <span class="fa fa-plus"></span>
          <%= t("helpers.links.new") %>
        <% end %>
      <% end %>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
</div> <!--/container -->
