<br>
<div class="container-fluid"> 
  <div class="row">

    <div class="col-sm-2">
      <ul  class="nav nav-pills brand-pills nav-stacked">
 
        <li class="brand-nav active">
          <a href="#role_show" data-toggle="tab"><%= role_show_legend %></a>
        </li>
 
        <% if policy(:user).index? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#users" data-toggle="tab"><%= user_index_legend %></a>
          </li>
        <% end %>
 
        <% if policy(:role).work? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#works" data-toggle="tab"><%= work_index_legend %></a>
          </li>
        <% end %>
 
        <hr>

        <li><%= link_to roles_path do %>
          <span class="fa fa-list"></span>
          <%= t("helpers.links.back_to_index") %>
          <% end %>
        </li>

      </ul>
    </div>

    <div class="col-sm-10">
      <div class="tab-content clearfix">

        <div class="tab-pane active" id="role_show">
          <%= render 'data', input_disabled: true, subtitle: role_info_legend(@role) %>
        </div>

        <div class="tab-pane" id="users">
          <%= render 'users', subtitle: role_info_legend(@role) %>
        </div>

        <div class="tab-pane" id="works">
          <%= render 'works/works_tab', trackable_type: "Role", trackable_id: @role.id, subtitle: role_info_legend(@role) %>
        </div>

      </div>
    </div>

  </div>

</div>

